    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: regular;
        outline: none;
    }
    
    @font-face {
        font-family: regular;
        src: url(Poppins/Poppins-Regular.ttf);
    }
    
    nav {
        background-color: black;
    }
    
    .container {
        max-width: 90% !important;
        margin: 0 auto;
    }
    
    .novigation-div {
        display: flex;
        justify-content: space-around;
    }
    
    .nov-img {
        width: 154px;
        height: 29px;
        margin-top: 15px;
    }
    
    .nov-btn {
        display: inline-flex;
        padding: 2px;
        justify-content: space-between;
        align-items: center;
        gap: 35px;
        border-radius: 45px;
        background: #212121;
        border-radius: 45px;
    }
    
    .nov-btn button {
        background-color: #212121;
        color: white;
        border: none;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 14px 35px;
        border-radius: 45px;
    }
    
    .nov-btn button:first-child {
        background-color: white;
        border-radius: 45px;
        padding: 13px 35px 14px 35px;
        justify-content: center;
        align-items: center;
        color: black;
    }
    
    .join-btn {
        background-color: black;
        color: white;
        border: none;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }
    
    .main-div {
        background-image: url(img/pexels-oliver-sjöström-1078981\ 1.png);
        display: flex;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .inner-1 {
        width: 50%;
    }
    
    .inner-1 div {
        margin-top: 150px;
    }
    
    .inner-1 p {
        color: #FFF;
        font-size: 17px;
        font-style: normal;
        margin-top: 59px;
        line-height: 127.5%;
    }
    
    .inner-1 button {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        background-color: transparent;
        border: 1px solid white;
        padding: 4px 30px;
        margin-top: 104px;
        margin-left: 297px;
    }
    
    .inner-1 h3 {
        color: #D1D1D1;
        font-size: 80px;
        font-style: normal;
    }
    
    .inner-1 span {
        color: #D1D1D1;
        font-size: 49px;
        font-style: normal;
    }
    
    .inner-1 h2 {
        color: #FFF;
        font-size: 90px;
        font-style: normal;
    }
    
    .inner-2 {
        width: 50%;
    }
    
    .img-div {
        display: flex;
    }
    
    .img-div img {
        width: 444px;
        height: 591px;
    }
    
    .tourist-div {
        display: flex;
        padding: 44px 119px;
        background-color: #041C1D;
        justify-content: space-between;
        text-align: center;
    }
    
    .tourist-div p {
        color: rgba(255, 255, 255, 0.70);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -2px;
    }
    
    .tourist-div h3 {
        color: white;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: -1px;
    }
    
    .img-logo {
        background-color: #B1B1B1;
        padding: 40px 198px;
        display: flex;
        justify-content: space-around;
    }
    
    .main-div-2 {
        background-image: url(img/bgimg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin: 0px auto;
        padding: 80px 0 50px;
    }
    
    .header-div {
        width: 40%;
        text-align: center;
        margin: 0px auto;
    }
    
    .blue-span {
        color: #03CEC9 !important;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.5px;
    }
    
    .header-div span {
        color: #FFF;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.5px;
    }
    
    .header-div p {
        color: #FFF;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 127.5%;
        margin-top: 35px;
        margin-bottom: 42px;
    }
    
    .search-container {
        position: relative;
    }
    
    .search-img {
        position: absolute;
        left: 84px;
        top: 16px;
        width: 18px;
        height: 18px;
    }
    
    .arrow-img {
        border-radius: 11px;
        background: #1E1325;
        width: 49px;
        height: 45px;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 55px;
        top: 2px;
        cursor: pointer;
    }
    
    .search-input {
        border-radius: 13px;
        border: 1px solid rgba(18, 18, 18, 0.17);
        background: #F1F1F1;
        width: 83%;
        padding: 12px 0;
        text-align: left;
        padding-left: 70px;
    }
    
    .btn-search-div {
        margin-top: 40px;
    }
    
    .btn-search-div p {
        color: white;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0.24px;
        border: none;
        background-color: transparent;
        margin: 0;
    }
    
    .line-div {
        border-bottom: 1px solid white;
        width: 200px;
    }
    
    .img-popular-div {
        width: 100%;
    }
    
    .main-popular-div {
        margin-top: 100px;
        justify-content: space-between;
    }
    
    .popular-3item-div {
        width: 73%;
    }
    
    .main-waterfalls-taj-div {
        justify-content: space-between;
    }
    
    .waterfalls-div {
        width: 69%;
        flex-shrink: 0;
        background-color: #343739;
        border-radius: 10px;
        padding: 15px;
    }
    
    .content-div-waterfalls {
        margin-top: 22px;
        justify-content: space-between;
    }
    
    .info-div-waterfalls h2,
    .info-div-taj h2,
    .info-div-china h2,
    .info-div-paris h2 {
        color: #F3F3F3;
        font-size: 23px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.23px;
    }
    
    .img-location-div {
        padding-top: 22px;
    }
    
    .img-location-div img {
        width: 24px;
        height: 24px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }
    
    .img-location-div p {
        color: #F3F3F3;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.19px;
        margin-left: 3px;
    }
    
    .heart-div {
        margin: 10px 16px;
        text-align: center;
    }
    
    .heart-div img {
        background-color: #494949;
        padding: 5px;
        border-radius: 20px;
    }
    
    .heart-div p {
        margin-top: 5px;
        color: white;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.12px;
    }
    
    .taj-div {
        width: 29%;
        flex-shrink: 0;
        background-color: #343739;
        border-radius: 10px;
        padding: 15px;
    }
    
    .content-div-taj {
        margin-top: 25px;
        justify-content: space-between;
    }
    
    .main-china-div {
        flex-shrink: 0;
        background-color: #343739de;
        border-radius: 10px;
        padding: 15px;
        margin-top: 20px;
    }
    
    .content-div-china {
        width: 100%;
    }
    
    .info-div-china {
        padding: 80px 47px 0px 21px;
    }
    
    .heart-div-china {
        text-align: right;
    }
    
    .popular-1item-div {
        width: 25%;
        flex-shrink: 0;
        background-color: #343739de;
        border-radius: 10px;
        padding: 15px;
    }
    
    .content-div-paris {
        margin-top: 20px;
    }
    
    .heart-paris-div {
        text-align: right;
    }
    
    .btn-main-2-see-more {
        margin: 50px auto 0;
        width: 6.7%;
        border-bottom: 1px solid white;
    }
    
    .btn-main-2-see-more button {
        color: #FFF;
        font-size: 21px;
        letter-spacing: 0.21px;
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }
    
    .main-div-3 {
        background-color: #D9D9D9;
        padding: 45px 0 105px;
    }
    
    .logo-services-div {
        margin: 0px auto;
        width: 30%;
        align-items: center;
    }
    
    .logo-services-div img {
        width: 207px;
        height: 39px;
    }
    
    .logo-services-div p {
        color: #009490;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.5px;
        margin: 0;
    }
    
    .main-services-3item-div {
        margin-top: 70px;
        justify-content: space-between;
        gap: 60px;
    }
    
    .inner-services-div {
        width: calc(33.33% - 60px);
        position: relative;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    
    .inner-services-div img:last-of-type {
        width: calc(80% - 10px);
    }
    
    .number-img {
        width: calc(20% - 10px);
    }
    
    .balck-div {
        color: white;
        width: 50%;
        padding: 13px;
        border-radius: 4px;
        background: #171721;
        position: absolute;
        top: -35px;
        left: 35px;
    }
    
    .balck-div h2 {
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.2px;
        text-align: center;
    }
    
    .balck-div p {
        color: #FFF;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 127.5%;
    }